.uni {
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 2rem;
  color: #fff;
}

li {
  list-style: none;
  color: #fff;
  margin-bottom: 2rem;
}

.error {
  font-size: 1.2rem;
  color: #dc3545;
  margin-top: 20px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}
