/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  color: #fff;
}

.header-logo {
  height: 30px;
  width: auto;
  margin-left: 30px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-middle {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 20px;
  background-color: #333;
  border-radius: 30px;
  padding: 7px 20px;
}

.header-input {
  display: flex;
  align-items: center;
  width: 55%;
}

.searchInput {
  flex: 1;
  border: none;
  height: 35px !important;
  padding-left: 15px;
  font-size: 1.2rem;
  outline: none;
  background: none;
  color: #fff;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-searchBtn {
  width: 60px !important;
  border-left: 1px solid lightgray;
  color: #606060;
  cursor: pointer;
  margin-left: -60px;
  height: 100%;
}

.header-icons {
  margin-right: 30px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
