.parent-container {
  position: sticky;
  top: 0;
}

.sidebar {
  z-index: 50;
  height: 92vh;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  transition: 0.8s ease;
  margin: 0;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #222;
}

.sidebar hr {
  height: 1px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3f3f3f;
}

.sidebar-heading {
  margin: 0 0 10px 20px;
  font-size: 1.3rem;
  color: #fff;
}

.footer {
  padding: 0 20px;
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer p {
  cursor: pointer;
}

.llc {
  color: rgb(142, 142, 142);
  font-weight: 100;
  margin-bottom: 3rem;
}

/* mini-sidebar styles */

.mini-sidebar {
  position: sticky;
  z-index: 100;
  height: 92vh;
  left: 0;
  transition: 0.8s ease;
}

.mini-div {
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
  padding: 1.35rem;
  width: 85px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mini-div p {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.mini-div:hover {
  background-color: #272727;
  border-radius: 10px;
  cursor: pointer;
}

.content-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 22px;
  flex: 1;
}

/* Media queries */

@media (max-width: 768px) {
  .sidebar {
    width: 180px;
  }

  .sidebar-heading {
    font-size: 1.1rem;
    margin-left: 14px;
  }

  .content-page {
    display: grid;
    gap: 22px;
    flex: 1;
  }

  .mini-div {
    padding-left: 0.8rem;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }

  .sidebar-heading {
    font-size: 0.85rem;
    margin-left: 4px;
  }

  .mini-sidebar {
    width: 100%;
  }

  .content-page {
    display: grid;
    gap: 15px;
    flex: 1;
  }
}
