.sidebar-row {
  display: flex;
  align-items: center;
  width: 290px;
  height: 20px;
  padding: 25px 20px;
  color: #fff;
}

.sidebarRow-icon {
  font-size: 1.5rem !important;
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.sidebarRow-title {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 38px;
}

.sidebar-row:hover {
  background-color: #272727;
  cursor: pointer;
  border-radius: 10px;
}
