.parent-header {
  position: sticky;
  top: 0;
}

.sidebar {
  width: 20%;
  position: sticky;
  top: 60px;
  z-index: 50;
  height: 92vh;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #222;
}

.sidebar hr {
  height: 1px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3f3f3f;
}

.sidebar-heading {
  margin: 0 0 10px 20px;
  font-size: 1.3rem;
  color: #fff;
}

.footer {
  padding: 0 20px;
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer p {
  cursor: pointer;
}

.llc {
  color: rgb(142, 142, 142);
  font-weight: 100;
}
